

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CFECFE;
    width: 100%;
    height: 100px;
    position:fixed;
}

footer{
    display: flex;
    align-items: center;
    background-color: #CFECFE;
    height: 100px;
   
}